{{!-- views/partials/category-menu.hbs --}}
<div class="w-full flex flex-col z-50 bg-base-100">
  <div class="flex gap-4 items-center justify-center">
    <a
      href="/"
      class="p-2 rounded-xl btn-ghost text-base font-bold 
          {{#if (eq currentCategoryId -1)}}
            border-b-4 border-b-black
          {{/if}}"
    >
      Homepage
    </a>
    {{#each categories}}
    <a
      href="/categories/{{ id }}"
      class="btn btn-ghost text-lg font-bold {{#if (or (eq id ../currentCategoryId) (hasSubCategorySelected subCategories ../currentCategoryId))}} border-b-4 border-b-black {{/if}}"
    >
      {{ category }}
    </a>
    {{/each}}
  </div>

  <div class="border-t-2 border-gray-200 flex-1 w-full"></div>
  {{#each categories}} {{#if (or (eq id ../currentCategoryId) (hasSubCategorySelected subCategories
  ../currentCategoryId))}}
  <div class="flex gap-4 justify-center items-center">
    {{#each subCategories}}
    <a
      href="/categories/{{ subId }}"
      class="btn btn-ghost text-base font-medium {{#if (eq subId ../../currentCategoryId)}} border-b-4 border-b-red-500 {{/if}}"
    >
      {{ name }}
    </a>
    {{/each}}
  </div>
  {{/if}} {{/each}}
</div>
