{{!-- views/partials/header.hbs --}}
<header class="fixed w-full z-50 top-0 flex-col shadow-md">
  <div class="navbar bg-base-100 px-10 py-4 items-center border-b-2">
    <div class="navbar-start space-x-4">
      {{!-- Side navigation --}} {{> navbar}} {{!-- Search Bar --}}
      <form action="/articles/filter" method="GET" class="grow max-w-[300px] items-start">
        <label class="input input-bordered flex items-center gap-2">
          <input type="text" name="keyword" placeholder="Search..." class="grow" />
          <button type="submit" class="btn btn-square ml-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </label>
      </form>
    </div>
    <div class="navbar-center hidden lg:block">
      {{!-- Categories --}}
      <a class="btn btn-outline text-xl bg-black text-white" href="/">Paperly</a>
    </div>
    <div class="navbar-end">
      {{!-- User Menu --}} {{#if user}}
      <div class="dropdown dropdown-end ml-2">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="{{user.avatarUrl}}" alt="User Avatar" />
          </div>
        </label>
        <ul
          tabindex="0"
          class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52"
        >
          <li><a href="/user/profile">Profile</a></li>
          <li><a href="/user/edit-profile">Settings</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      </div>
      {{else}}
      <a href="/auth/login" class="btn btn-ghost text-lg">Login</a>
      <a href="/auth/register" class="btn btn-primary bg-black text-white ml-2 text-lg">Register</a>
      {{/if}}
    </div>
  </div>
  {{> category-menu}}
</header>
