{{!-- views/home/index.hbs --}}
<div class="space-y-28 px-20">
  {{!-- Featured Articles Carousel --}}
  <section>
    <h1 class="text-3xl md:text-5xl font-extrabold text-red-600 mb-4 border-b-2 border-black">
      Featured Articles
    </h1>
    {{> article/layout/carousel articles=featuredArticles}}
  </section>

  {{!-- Most Viewed Articles --}}
  <section class="space-y-10">
    <h1 class="text-3xl md:text-5xl font-extrabold text-red-600 mb-4 border-b-2 border-black">
      Most Viewed Articles
    </h1>
    {{> article/layout/basic articles=mostViewedArticles}}
  </section>

  {{!-- Latest Articles --}}
  <section class="space-y-10">
    <h1 class="text-3xl md:text-5xl font-extrabold text-red-600 mb-4 border-b-2 border-black">
      Latest Articles
    </h1>
    {{> article/layout/basic articles=newestArticles}}
  </section>

  {{!-- Top Categories --}}
  <section class="space-y-10">
    <h1 class="text-3xl md:text-5xl font-extrabold text-red-600 mb-4 border-b-2 border-black">
      Top Categories
    </h1>
    {{> article/layout/tab articles=topCategoryArticles}}
  </section>
</div>
